.header{
    padding-left: 28%;
    margin-top: 10px;
}
.jumbotron.jumbotron-fluid{
    background-image: url("../images/giphy.gif");
    width: 900px;
    height:300px;
    background-position:center;  
    background-repeat: no-repeat; 
    color:white;
    background-size: cover;
    
}
.display-4{
    margin-top: 20%;
}

.navbar.bg-primary{
    color:white;
}

.div.form-group{
    margin-right: 20px;
}
body{
    
    background-image: linear-gradient(red, yellow);
      
}
.table{
    color:white;
}